@model EntityLayer.Concrete.Image
@{
    ViewData["Title"] = "EditImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Resim Düzenleme</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x => x.ImageID)
                    <label for="exampleInputName1">Başlık</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input type="text" asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Başlık">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Açıklama</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <input type="text" asp-for="Description" class="form-control" id="exampleInputName2" placeholder="Açıklama">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görsel</label>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input type="text" asp-for="ImageUrl" class="form-control" id="exampleInputName2" placeholder="Resim">
                </div>

               
                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                <button class="btn btn-light">Vazgeç</button>
            </form>
        </div>
    </div>
</div>

